<!DOCTYPE html>
<html lang="en" ng-app="app-findr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="findr; KEDCO Account Explorer">
    <meta name="author" content="Abdul-Hakeem Shaibu">
    <title>Findr</title>
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="{{ request.static_url('findr:static/styles/style.css') }}" />
</head>
<body>
    <div ng-view></div>

    <!-- embedded templates -->
    <script type="text/ng-template" id="_home.html">
        <div class="container front">
            <div class="search-pane">
                <img class="logo" src="{{ request.static_url('findr:static/img/findr-logo.svg') }}" />
                <form class="search-box" ng-submit="handleSubmit()">
                    <div class="input-group">
                        <button><img src="{{ request.static_url('findr:static/img/magnifr.svg') }}" /></button>
                        <div class="input-wrap">
                            <input type="text" ng-model="findr.entry" class="form-control" 
                                   placeholder="account or meter no." />
                        </div>
                    </div>
                    <div ng-bind="findr.error" style="color:red; text-align:center;" />
                </form>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="_result.html">
    <div class="container result">
        <div class="search-pane">
            <a href="/"><img class="logo" src="static/img/findr-logo.svg" /></a>
            <form class="search-box">
                <div class="input-group">
                    <a href="index.html"><img src="static/img/magnifr.svg" /></a>
                    <div class="input-wrap">
                        <input type="text" ng-model="findr.entry" class="form-control" 
                               placeholder="account or meter no." />
                    </div>
                </div>
            </form>
        </div>

        <div class="content-pane">
            <div class="content">
                <div class="label-group col-5">
                    <label class="title">Name</label>
                    <label class="value">-</label>
                </div>
                <div class="label-group col-3">
                    <label class="title">Tariff</label>
                    <label class="value">-</label>
                </div>
                <div class="label-group col-3">
                    <label class="title">Account Number</label>
                    <label class="value">-</label>
                </div>
                <div class="label-group col-5">
                    <label class="title">Region</label>
                    <label class="value">-</label>
                </div>
                <div class="label-group col-3">
                    <label class="title">Meter Number</label>
                    <label class="value">-</label>
                </div>                    
                <div class="label-group col-5">
                    <label class="title">Customer Service Point</label>
                    <label class="value">-</label>
                </div>
                <div class="label-group col-2">
                    <label class="title">Last Purchase</label>
                    <label class="value">0.0</label>
                </div>
                <div class="label-group col-3">
                    <label class="title">Minimum Purchase</label>
                    <label class="value">0.0</label>
                </div>
                <div class="label-group col-3">
                    <label class="title">Customer Arreas</label>
                    <label class="value">0.0</label>
                </div>
            </div>
        </div>
    </div>
    </script>

    <!-- le javascripts -->
    <script src="{{ request.static_url('findr:static/scripts/libs/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('findr:static/scripts/libs/angular.js') }}"></script>
    <script src="{{ request.static_url('findr:static/scripts/libs/angular-route.min.js') }}"></script>
    <script src="{{ request.static_url('findr:static/scripts/libs/angular-resource.min.js') }}"></script>
    <script src="{{ request.static_url('findr:static/scripts/app.js') }}?v03"></script>
</body>
</html>